.title {
    font-size: 30px;
    margin: 0 auto 30px;
    text-transform: uppercase;
}

.items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr 1fr;
    }
}